<!-- Start single page header -->
  <section id="single-page-header-blog">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="single-page-header-left text-center">
              <h2>For Her Blog</h2>
              <p>Our thoughts on Society , You & HER</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-right">
              <!--ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Blog Archive</li>
              </ol-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->

  <section id="pinBoot">
<div class="row">
  <div class="col-md-3 col-xs-12 col-sm-6"> <!-- left column -->
      <div class="row"><div class="col-md-12">
        <article class="white-panel"><img src="http://i.imgur.com/sDLIAZD.png" alt="">
          <h4><a href="#">Title 1</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/8lhFhc1.gif" alt="">
          <h4><a href="#">Title 2</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/xOIMvAe.jpg" alt="">
          <h4><a href="#">Title 3</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </article>

      </div></div><br>
   </div>
   <div class="col-md-3 col-xs-12 col-sm-6"> <!-- center column -->
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/3gXW3L3.jpg" alt="">
          <h4><a href="#">Title 4</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/o2RVMqm.jpg" alt="">
          <h4><a href="#">Title 5</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/8lhFhc1.gif" alt="">
          <h4><a href="#">Title 2</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
   </div>
   <div class="col-md-3 col-xs-12 col-sm-6"> <!-- right column -->
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/kFFpuKA.jpg" alt="">
          <h4><a href="#">Title 6</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </article>

       </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"><img src="http://i.imgur.com/E9RmLPA.jpg" alt="">
          <h4><a href="#">Title 7</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/8lhFhc1.gif" alt="">
          <h4><a href="#">Title 8</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
   </div>
   <div class="col-md-3 col-xs-12 col-sm-6"> <!-- center column -->
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/3gXW3L3.jpg" alt="">
          <h4><a href="#">Title 4</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/o2RVMqm.jpg" alt="">
          <h4><a href="#">Title 5</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
      <div class="row"><div class="col-md-12">
        <article class="white-panel"> <img src="http://i.imgur.com/8lhFhc1.gif" alt="">
          <h4><a href="#">Title 2</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </article>
      </div></div><br>
   </div>
</div>

  <div class="row md-12 blog-pagination">
    <ul class="pagination-nav">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
    </ul>
  </div>

  </section>