
  <!-- Start slider -->
  <section id="slider">
    <div class="main-slider">
      <div class="single-slide">
        <img src="assets/images/slider-3.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <div class="subscribe-area">
                    <h2 class="wow fadeInUp">Donate For Her </h2>
                    <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                      <input type="text" placeholder="Enter Amount">
                      <button class="subscribe-btn" type="submit">Donate</button>
                    </form>
                  </div>
                  <div class="col-md-12 col-xs-12 hidden-xs">
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s" style="margin-top:30px;"> Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.
                    Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.</p>

                    <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s" style="margin-top:30px;"> Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.
                      Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.</p>

                </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person2.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slide">
        <img src="assets/images/slider-2.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <div class="subscribe-area">
                    <h2 class="wow fadeInUp">Donate For Her </h2>
                    <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                      <input type="text" placeholder="Enter Amount">
                      <button class="subscribe-btn" type="submit">Donate</button>
                    </form>
                  </div>
                  <div class="col-md-12 col-xs-12 hidden-xs">
                    <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s" style="margin-top:30px;"> Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.
                      Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.</p>

                      <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s" style="margin-top:30px;"> Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.
                        Creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.</p>

                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person2.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End slider -->

  <!-- Start Feature -->
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Why Donate</h2>
            <span class="line"></span>
            <p>Some Description</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="feature-content">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-h-square feature-icon"></i>
                  <h4 class="feat-title">Reason </h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-hand-rock-o feature-icon"></i>
                  <h4 class="feat-title">Reason</h4>
                  <p>We strive for creation of an environment where women can make independent decisions on their personal development as well as shine as equals in society.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-thumbs-o-up feature-icon"></i>
                  <h4 class="feat-title">Reason</h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority.</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Feature -->


  <!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">How Donations Are Used</h2>
            <span class="line"></span>
            <p>This section is an introduction to donor engagement.It lists out various ways in which contribution are used</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-hand-paper-o service-icon"></i>
                  <h4 class="service-title">Pad Distribution</h4>
                  <p>Join as a Volunteer , Participate in Various Social Activities</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-money service-icon"></i>
                  <h4 class="service-title">School Fess</h4>
                  <p>Your Donations will help keep girls in school and away from diseases & keep track of donations as well</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-magic service-icon"></i>
                  <h4 class="service-title">Volunteer Expenses</h4>
                  <p>Your Donations will help keep girls in school and away from diseases & keep track of donations as well</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-share-square service-icon"></i>
                  <h4 class="service-title">Research</h4>
                  <p>Join as a Volunteer , Participate in Various Social Activities,Join as a Volunteer , Participate in Various Social Activities</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-street-view service-icon"></i>
                  <h4 class="service-title">Reason</h4>
                  <p>Join as a Volunteer , Participate in Various Social Activities.</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-rocket service-icon"></i>
                  <h4 class="service-title">Resaon</h4>
                  <p>Your Donations will help keep girls in school and away from diseases & keep track of donations as well</p>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->

  <!-- Start about  -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="about-content">
            <div class="row">

             <div class="col-md-6">
                                <h2 style="color:#000;">Balance sheets</h2>
                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> January 2016</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> December 2015</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> November 2015</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> October 2015</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
                                <div class="update-text"> <a href="#"> September 2015 </a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> January 2016</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> December 2015</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> November 2015</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-save"></i></div>
                                <div class="update-text"> <a href="#"> October 2015</a> </div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
                                <div class="update-text"> <a href="#"> September 2015 </a> </div>
                              </div>
                            </div>

                        </div>
              <div class="col-md-6">
                  <h2  style="color:#000;">Top Contributions</h2>
              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split"><i class="  glyphicon glyphicon-flag"></i></div>
                  <div class="update-text">Rakesh Sinha Donated Rs 20,000 </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split update-info"><i class="  glyphicon glyphicon-heart"></i></div>
                  <div class="update-text"><a href="#">ABC Ltd</a> Provided Free Legal Advice </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split update-success"><i class="glyphicon glyphicon-road"></i></div>
                  <div class="update-text">Shreya Donated Rs 45,000 </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split update-danger"><i class="glyphicon glyphicon-road"></i></div>
                  <div class="update-text">Amit Golani Donated Rs 16,000 </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->