
  <!-- Start slider -->
  <section id="slider">
    <div class="main-slider">
      <div class="single-slide">
        <img src="assets/images/slider-3.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Women Empowerment: Its Meaning and Importance</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s"> creation of an environment for women where they can make decisions of their own for their personal benefits as well as for the society.</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person2.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slide">
        <img src="assets/images/slider-1.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Sanitary Pads Keeps Girls in Schools</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Our Pad Distribution Project has three main initiatives: keeping girls in school, informed about their sexual health, and economically independent</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person2.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-slide">
        <img src="assets/images/slider-2.jpg" alt="img">
        <div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Smiles and Determination of rural Indian Women</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s"> Poor, rural women in the central Indian state of Madhya Pradesh attending a skills training programme on dairy farming by the NGO</p>
                  <a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person2.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End slider -->

  <!-- Start Feature -->
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">She Deserves</h2>
            <span class="line"></span>
            <p>Women Are the Reflection of Loftiest Goals of All Human Hearts</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="feature-content">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-h-square feature-icon"></i>
                  <h4 class="feat-title">Hygiene</h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-hand-rock-o feature-icon"></i>
                  <h4 class="feat-title">Empowerment</h4>
                  <p>We strive for creation of an environment where women can make independent decisions on their personal development as well as shine as equals in society.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-thumbs-o-up feature-icon"></i>
                  <h4 class="feat-title">Respect</h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority.</p>
                </div>
              </div>
              <!--div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-heart feature-icon"></i>
                  <h4 class="feat-title">Love</h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-gavel feature-icon"></i>
                  <h4 class="feat-title">Security</h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority.</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-feature wow zoomIn">
                  <i class="fa fa-smile-o feature-icon"></i>
                  <h4 class="feat-title">Freedom</h4>
                  <p>In a country where millions of women still do not use sanitary napkin,Out of ignorance and poverty, nearly 70% of women use old rags, increasing the risk of diseases, hygiene is our priority.</p>
                </div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Feature -->

  <!-- Start about  -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">About us</h2>
            <span class="line"></span>
            <p>An Inroduction to Organization in a line orb two, the section then describes major ares the NGO Works in.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="about-content">
            <div class="row">
              <div class="col-md-6">
                <div class="why-choose-us">
                  <!--h3>we are there FOR HER</h3-->
                  <div class="panel-group why-choose-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Our Founder <span class="fa fa-minus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                        <img class="why-choose-img" src="assets/images/founder_small.png" alt="img">
                         <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default ">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Our Mission  <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                         <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            How far Have We Come <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

             <div class="col-md-6">
                                <h3>Upcoming Events</h3>
                            <div class="col-md-12">
                              <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-leaf"></i></div>
                                <div class="update-text">Education Drive & Pad Distribution At <a href="#"> Rohtak Villages</a> </div>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-road"></i></div>
                                <div class="update-text">Awareness Drive with <strong>Wahida Rahman</strong> in Baxar, Bihar </div>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="update-nag">
                                <div class="update-split update-success"><i class="glyphicon glyphicon-leaf"></i></div>
                                <div class="update-text">Education Drive & Pad Distribution At <a href="#"> Rohtak Villages</a> </div>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="update-nag">
                                <div class="update-split update-danger"><i class="glyphicon glyphicon-warning-sign"></i></div>
                                <div class="update-text">Awareness Drive with <strong>Wahida Rahman</strong> in Baxar, Bihar </div>
                              </div>
                            </div>

                        </div>
              <div class="col-md-6">
                  <h3>Latest Events</h3>
              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split"><i class="  glyphicon glyphicon-flag"></i></div>
                  <div class="update-text">Education Drive & Pad Distribution At <a href="#"> Rohtak Villages</a> </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split update-info"><i class="  glyphicon glyphicon-heart"></i></div>
                  <div class="update-text"><a href="#">Donate for HER</a> Drive at Sagar, MH </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split update-success"><i class="glyphicon glyphicon-road"></i></div>
                  <div class="update-text">Education Drive & Pad Distribution At <a href="#"> Rohtak Villages</a> </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="update-nag">
                  <div class="update-split update-danger"><i class="glyphicon glyphicon-road"></i></div>
                  <div class="update-text">Awareness Drive with <strong>Wahida Rahman</strong> in Baxar, Bihar </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->

  <!-- Start counter -->
  <section id="counter">
    <div class="counter-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="counter-area">
              <div class="row">
                <!-- Start single counter -->
                <div class="col-md-3 col-sm-6">
                  <div class="single-counter">
                    <div class="counter-icon">
                      <i class="fa fa-map"></i>
                    </div>
                    <div class="counter-no counter">
                      1275
                    </div>
                    <div class="counter-label">
                      Villages Covered
                    </div>
                  </div>
                </div>
                <!-- End single counter -->
                <!-- Start single counter -->
                <div class="col-md-3 col-sm-6">
                  <div class="single-counter">
                    <div class="counter-icon">
                      <i class="fa fa-plus-square"></i>
                    </div>
                    <div class="counter-no counter">
                      5275
                    </div>
                    <div class="counter-label">
                      events Organized
                    </div>
                  </div>
                </div>
                <!-- End single counter -->
                <!-- Start single counter -->
                <div class="col-md-3 col-sm-6">
                 <div class="single-counter">
                    <div class="counter-icon">
                      <i class="fa fa-user"></i>
                    </div>
                    <div class="counter-no counter">
                      350
                    </div>
                    <div class="counter-label">
                      Volunteers
                    </div>
                  </div>
                </div>
                <!-- End single counter -->
                <!-- Start single counter -->
                <div class="col-md-3 col-sm-6">
                  <div class="single-counter">
                    <div class="counter-icon">
                      <i class="fa fa-user-plus"></i>
                    </div>
                    <div class="counter-no counter">
                      875
                    </div>
                    <div class="counter-label">
                      Donors
                    </div>
                  </div>
                </div>
                <!-- End single counter -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End counter -->


  <!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">We Need You</h2>
            <span class="line"></span>
            <p>This section is an introduction to volunteer & donor engagement.It lists out various ways in which a user can contribute to our cause with links to specific action pages</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-hand-paper-o service-icon"></i>
                  <h4 class="service-title">Give us a Hand</h4>
                  <p>Join as a Volunteer , Participate in Various Social Activities</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-money service-icon"></i>
                  <h4 class="service-title">Donate</h4>
                  <p>Your Donations will help keep girls in school and away from diseases & keep track of donations as well</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-magic service-icon"></i>
                  <h4 class="service-title">Educate</h4>
                  <p>Your Donations will help keep girls in school and away from diseases & keep track of donations as well</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-share-square service-icon"></i>
                  <h4 class="service-title">Spraed the word</h4>
                  <p>Join as a Volunteer , Participate in Various Social Activities,Join as a Volunteer , Participate in Various Social Activities</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-street-view service-icon"></i>
                  <h4 class="service-title">Join our Tem</h4>
                  <p>Join as a Volunteer , Participate in Various Social Activities.</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-rocket service-icon"></i>
                  <h4 class="service-title">Intern with Us</h4>
                  <p>Your Donations will help keep girls in school and away from diseases & keep track of donations as well</p>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->

<!-- Tests -->
<!-- Start Testimonial section -->
<!-- Start Testimonial section -->
 <section id="testimonial">
   <div class="container">
     <div class="row">

           <!--div class="col-md-12">
             <div class="title-area">
               <h2 class="title">Testimonials</h2>
               <span class="line"></span>
             </div>
           </div-->
           <div class="col-md-12">
             <!-- Start testimonial slider -->
             <div class="testimonial-slider">
               <!-- Start single slider -->
               <div class="single-slider">
                 <div class="testimonial-img">
                   <img src="assets/images/person_small.png" alt="testimonial image">
                 </div>
                 <div class="testimonial-content">
                   <p>Amazing people with amazing talent & a nack for social equality for women. Their works in areas of some something is highle appreciable. I am with them is their cause</p>
                   <h6>A R Rahman, <span>Musician</span></h6>
                 </div>
               </div>
               <!-- Start single slider -->
               <div class="single-slider">
                 <div class="testimonial-img">
                   <img src="assets/images/person_small.png" alt="testimonial image">
                 </div>
                 <div class="testimonial-content">
                   <p>Graet Team, Amazing people with amazing talent & a nack for social equality for women. Their works in areas of some something is highle appreciable. I am with them is their cause.</p>
                   <h6>John Snow, <span>CEO, Smile</span></h6>
                 </div>
               </div>
               <!-- Start single slider -->
               <div class="single-slider">
                 <div class="testimonial-img">
                   <img src="assets/images/person_small.png" alt="testimonial image">
                 </div>
                 <div class="testimonial-content">
                   <p>Amazing people with amazing talent & a nack for social equality for women. Their works in areas of some something is highle appreciable. I am with them is their cause</p>
                   <h6>Kalpana Gupta, <span>Socail worker</span></h6>
                 </div>
               </div>
             </div>
           </div>

       <div class="col-md-6"></div>
     </div>
   </div>
 </section>
 <!-- End Testimonial section -->


 <!-- Start Sharing table -->
 <section id="share-table">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="title-area">
           <h2 class="title">We Are Social</h2>
           <span class="line"></span>
           <p>Help us spread the word.Follow Subscribe and Share!</p>
         </div>
       </div>
       <div class="col-md-12">
         <div class="share-table-content">
           <div class="row">
           <div class="col-md-2 col-sm-2 "></div>
             <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="img-box">
                 <!--img src="http://placemi.com/g/600x700" class="img-responsive"-->
                                         <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/menstrupedia" data-widget-id="686206587111751680">Tweets by @menstrupedia</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
               </div>
             </div>
             <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <!--Facebook Stuff -->
                  <div id="fb-root"></div>
                  <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-page" data-href="https://www.facebook.com/Menstrupedia" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
             </div>
             <div class="col-md-2 col-sm-2 "></div>
             <!--div class="col-md-4 col-sm-4 col-xs-12">
               <div class="img-box">
                 <img src="http://placemi.com/g/600x700" class="img-responsive">
               </div>
             </div-->
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>